.task-item {
    padding: 15px;

    h2.task-name {
        display: inline-block;
        font-size: 1.2rem;
    }

    .task-header-icon {
        float: right;
        //height: 37px;
    }

    .task-header-text {
        float: right;
        padding: 0.6em 0.25em;
    }

    //&.task-item-completed {
    //    background-color: $background-color-completed;
    //    color: $text-color-completed;
    //}

    .task-header-icon {
        margin: 5px;
    }
}
